@use '../../styles/app.scss';

.mediaFigure {
  position: relative;
  display: inline;
  max-height: 100vh;

  > .figureClippath,
  > .figureDeco,
  > .figureImage {
    transform-origin: 50% 50%;
  }

  > .figureImage {
    width: 100%;
    height: auto;
  }

  > .themeGreen {
    --color: var(--theme-green);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeViolet {
    --color: var(--theme-violet);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeBlue {
    --color: var(--theme-blue);
    fill: var(--color);
    stroke: var(--color);
  }
  > .themeTeal {
    --color: var(--theme-teal);
    fill: var(--color);
    stroke: var(--color);
  }
  > .themeRed {
    --color: var(--theme-red);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeOrange {
    --color: var(--theme-orange);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeYellow {
    --color: var(--theme-yellow);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeIndigo {
    --color: var(--theme-indigo);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeBlack {
    --color: var(--theme-black);
    fill: var(--color);
    stroke: var(--color);
  }

  > .themeWhite {
    --color: var(--theme-white);
    fill: var(--color);
    stroke: var(--color);
  }
}
